[submodule "ansible_ipython_machineleaning_bootstrap"]
	path = ansible_ipython_machineleaning_bootstrap
	url = git@github.com:shiraco/ansible_ipython_machineleaning_bootstrap.git
[submodule "ansible_ipython_machineleaning_bootstrap_conda"]
	path = ansible_ipython_machineleaning_bootstrap_conda
	url = git@github.com:shiraco/ansible_ipython_machineleaning_bootstrap_conda.git
